body {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
}

.screen {
    display: none;
    width: 970px;
    height: 442px;
    position: relative;
    color: white;
}

.player-name {
    text-transform: uppercase;
}

#lobby {
    color: black;
    background-color: #00c120;
    position: relative;
}

#lobby-title {
    top: 20px;
    left: 400px;
    position: relative;
}

#lobby-players {
    top:60px;
    left: 18px;
    position: relative;
}

#lobby-prompt {
    top: 218px;
    left: 400px;
    position: relative;
}

#survey {
}

#survey-scene {
    float: left;
}

#survey-week-span {
    float: right;
}

#scene {
}

#week {
    display: none;
}

#field {
    top: 14px;
    border:1px solid white;
    position: relative;
}

#field svg {
    height: 100%;
    width: 100%;
    top: 4px;
    left: 4px;
    position: relative;
}

#field svg rect {
    height: 18px;
    width: 12px;
    opacity: 0.75;
}

.cursor {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% { opacity: 1; }
}

#fact {
    top: 30px;
    position: relative;
    font-style: italic;
}

#report {
    color: black;
    background-color: #00c120;
    position: relative;
}

#report-title {
    top: 20px;
    width: 180px;
    margin: 0 auto;
    position: relative;
}

#report-table {
    top: 120px;
    width: 300px;
    margin: 0 auto;
    position: relative;
}

#report-prompt {
    top: 300px;
    width: 200px;
    margin: 0 auto;
    position: relative;
}

#drill {
    top: 14px;
    border:1px solid white;
    position: relative;
}

#drill-inner {
    width: 50%;
    margin: 0 auto;
    top: 200px;
    text-align: center;
    position: relative;
}

#drill-table {
    table-layout:fixed;
    width: 130px;
    margin: 0 auto;
    color: white;
    position: relative;
}

#drill-table td {
    text-align: right;
}

#wells {
    color: black;
    background-color: #00c120;
    position: relative;
}

#wells-title {
    width: 100%;
    height: auto;
    position:relative;
    text-align: center;
}

#wells-player {
    float: left;
    text-transform: uppercase;
}

#wells-price-span {
    text-align: center;
    display:table;
    margin:0 auto;
}

#wells-week-span {
    float: right;
}

#wells-table {
    table-layout:fixed;
    width: 100%;
    height: auto;
    position:relative;
}

#wells-table thead th {
    font-weight: normal;
    text-align: right;
}

#wells-table td {
    text-align: right;
}

#score {
    color: black;
    background-color: #00c120;
    position: relative;
}
